doctype html
html(lang="ru-RU")
    head
        meta#myViewport(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel="icon" href="img/logo.png" type="image/x-icon")
        link(href="js/slick/slick.css" rel="stylesheet")
        link(href="js/slick/slick-theme.css" rel="stylesheet")
        link(href="css/all.css" rel="stylesheet")
        meta(charset="utf-8")
        title UDG - urban development group
    body
        include modules/header
        include modules/main
        include modules/footer
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="js/slick/slick.min.js")
        script(src="js/main.js")

