footer
    .footer-top
        .container
            .footer-top-inner
                .footer-top__left
                    .contact-title
                        img(src="img/cintact-us-blocks.png" alt="simple-logo" title="simple-logo")
                        span contact us
                    .contact-address_wrap
                        .contact-address
                            .contact-address__street.contact-address__item
                                .contact-address__street-ico.contact-address__item-ico
                                    img(src="img/location.png" alt="location icon")
                                .contact-address__street-text.contact-address__text
                                    span 5, Klovskiy Uzviz Street
                                    span 01021 Kiev, Ukraine
                            .contact-address__telephone.contact-address__item
                                .contact-address__telephone-ico.contact-address__item-ico
                                    img(src="img/tel.png" alt="telephone icon")
                                .contact-address__telephone-text.contact-address__text
                                    a(href='tel:0442201950') (044) 220 19 50
                                    a(href='tel:044225672') (044) 220 56 72
                            .contact-address__email.contact-address__item
                                .contact-address__email-ico.contact-address__item-ico
                                    img(src="img/address.png" alt="email icon")
                                .contact-address__email-text.contact-address__text
                                    a(href="mailto:info@udg.com.ua") info@udg.com.ua
                .footer-top__right
                    .footer-top__right_inner
                        .write-us-title
                            span write us
                        .write-us-form
                            form(action="#")
                                .personal
                                    .name
                                        span.hidden-text YOUR NAME
                                        input.hidden-input(type="text" placeholder="YOUR NAME")
                                    .email
                                        span.hidden-text YOUR EMAIL
                                        input.hidden-input(type="text" placeholder="EMAIL")
                                .message
                                    span.hidden-text YOUR MESSAGE
                                    textarea.hidden-input(placeholder="MESSAGE")
                                .submit_form
                                    button(type='submit').submit_btn SEND MESSAGE


    .footer-bottom
        .left-side.footer-bottom__item
            span © 2015 Standard development, All rigths reserved.
        .miidle-side.footer-bottom__item
            a(href="#")
                img(src="img/facebook.png" alt="facebook-logo" title="social-network")
            a(href="#").twitter-logo
                img(src="img/twitter.png" alt="facebook-logo" title="social-network")
            a(href="#")
                img(src="img/vk.png" alt="facebook-logo" title="social-network")
        .right-side.footer-bottom__item
            span
                span by
                span.develop-company OTAKOYI
                img(src="img/otakoyi-logo.png" alt="developers logo")
    .container
