header
    .header-top
        .header-top__logo
            .logo-img
                img(src="img/logo.png" alt="logo" title="logo")
            .logo-title
                span URBAN DEVELOPMENT GROUP
        .header-top__menu
            nav.header-main-menu.navbar
                ul
                    li
                        a(href='#') Home
                    li
                        a(href='#') About us
                    li
                        a(href='#') Project
                    li
                        a(href='#') Clients
                    li
                        a(href='#') Partners
                    li
                        a(href='#') News
            .header-main-param
                .dropdown
                    .dropbtn
                        span en
                    .dropdown-content
                        a(href="#") ua
                        a(href="#") en
                .search_bar
                    .search_form_wrap
                        form.form_check(action='#')
                            .input_wrap
                                input.input_search.form_control(type='text', placeholder='What you are looking for?')
                                button.search_close
                            .button_wrap
                                button.serch_btn(type='submit')
                                    img(src="img/magnifying-glass.svg" alt="search" title="search button")
                .show-mobile-menu
                    button.show-mobile-menu__btn
                        span

    .header-bottom
        .main-slider-wrap
            .main-slider
                .main-slider__item
                    .img-cont.box
                        img(src="img/slider1.jpg" alt="slider-item" title="slider-desc")
                        .img-cont-overlay
                    .main_slider__desc
                        .main-slider-nav
                            .main-slider-nav__prev
                            .main-slider-nav__numbers
                                span.current-slide 1
                                span of
                                span.qty-of-slides
                            .main-slider-nav__next
                        span.main-slider-text hostel for students of kpi
                .main-slider__item
                    .img-cont.box
                        img(src="img/slider2.jpg" alt="slider-item" title="slider-desc")
                        .img-cont-overlay
                    .main_slider__desc
                        .main-slider-nav
                            .main-slider-nav__prev
                            .main-slider-nav__numbers
                                span.current-slide 1
                                span of
                                span.qty-of-slides
                            .main-slider-nav__next
                        span.main-slider-text house clubs "nagornyi"
                .main-slider__item
                    .img-cont.box
                        img(src="img/slider3.jpg" alt="slider-item" title="slider-desc")
                        .img-cont-overlay
                    .main_slider__desc
                        .main-slider-nav
                            .main-slider-nav__prev
                            .main-slider-nav__numbers
                                span.current-slide 1
                                span of
                                span.qty-of-slides
                            .main-slider-nav__next
                        span.main-slider-text Business was founded as a number of privately-held companies and some cropped rolem ipsum text
                .main-slider__item
                    .img-cont.box
                        img(src="img/slider4.jpg" alt="slider-item" title="slider-desc")
                        .img-cont-overlay
                    .main_slider__desc
                        .main-slider-nav
                            .main-slider-nav__prev
                            .main-slider-nav__numbers
                                span.current-slide 1
                                span of
                                span.qty-of-slides
                            .main-slider-nav__next
                        span.main-slider-text residential complex "campus"
            .main-slider-scroll
                a(href="#main-content")
                    img(src="img/mouse.png" alt="scroll down" title="scroll down")