main
    section#main-content
        .container
            .main-wrap
                .main-left
                    .contact-title.our-projects
                        img(src="img/cintact-us-blocks.png" alt="simple-logo" title="simple-logo")
                        span our projects
                    a(href='#').portfolio-link see portfolio
                        .portfolio-link-arrow
                .main-right
                    .main-right__item.main-right__item_first
                        .main-right__item_wrap
                            .main-right__item_inner
                                .main-right__item__title
                                    a(href="#") hostel for students of kpi
                                .main-right__item__desc
                                    span Business was founded as a number of privately-held companies and some cropped rolem ipsum text
                                .main-right__item__link
                                    a(href='#') read more
                    .main-right__item.main-right__item_second
                        .main-right__item_wrap
                            .main-right__item_inner
                                .main-right__item__title
                                    a(href="#") house clubs "nagornyi"
                                .main-right__item__desc
                                    span Business was founded as a number of privately-held companies and some cropped rolem ipsum text
                                .main-right__item__link
                                    a(href='#') read more
                    .main-right__item.main-right__item_third
                        .main-right__item_wrap
                            .main-right__item_inner
                                .main-right__item__title
                                    a(href="#") residential complex "campus"
                                .main-right__item__desc
                                    span Business was founded as a number of privately-held companies and some cropped rolem ipsum text
                                .main-right__item__link
                                    a(href='#') read more
                    .main-right__item.main-right__item_fourth
                        .main-right__item_wrap
                            .main-right__item_inner
                                .main-right__item__title
                                    a(href="#") hostel for students of kpi
                                .main-right__item__desc
                                    span Business was founded as a number of privately-held companies and some cropped rolem ipsum text
                                .main-right__item__link
                                    a(href='#') read more